:root {
    --primary-color: #e02041;
    --main-title: #13131a;
    --sub-title: #41414d;
    --text: #737380;
    --secondary-text: #a8a8b3;
    --input-text: #ffffff;
    --input-line: #dcdce5;
    --background-color: #f0f0f5;
  }
  
  body {
    background-color: var(--background-color);
  }
  
  main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .logon {
    width: 40%;
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
  }
  
  .logon__image {
    width: 15.625rem;
    height: 6.625rem;
  }
  
  .logon__image-container {
    display: flex;
    width: 80%;
    justify-content: flex-start;
  }
  
  .logon__form {
    display: flex;
    width: 80%;
    flex-direction: column;
  }
  
  .logon__form-title {
    margin-bottom: 1rem;
  }
  
  .logon__form-input {
    padding: 0.7rem;
    border-radius: 0.313rem;
    color: var(--text);
    border: 1px solid var(--input-line);
  }
  
  ::placeholder {
    color: var(--text);
    opacity: 1;
  }
  
  .side {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sidebackground-container {
    height: 80%;
    width: 60%;
  }
  
  .side__background {
    width: 40rem;
    height: 36rem;
  }