main {
  padding: 7rem;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0rem 3rem;
  width: 40%;
}

.description__logo {
  height: 5.059rem;
  width: 11.938rem;
}

.description__header {
  margin: 3rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.description__subtitle {
  color: var(--text);
}

.description__link {
  width: 100%;
  margin-bottom: 2rem;
}

.description__link-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2rem;
}

.description__link-anchor {
  font-weight: bold;
  color: var(--sub-title);
}

.description__link-anchor:hover {
  color: color-mix(in srgb, currentColor 60%, var(--input-text) 40%);
  cursor: pointer;
}

.form {
  width: 60%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form__register {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  width: 90%;
}

.form__register-location-container {
  display: grid;
  grid-template-columns: 88.3% 10%;
  gap: 0.625rem;
}

/* Ajustes gerais para os inputs */
.form__register-location-input {
  width: 100%; /* Garante que o input ocupe toda a largura de sua célula */
}

.form__logo,
.form__subtitle {
  display: none;
}

@media (min-width: 0px) and (max-width: 1280px) {
  main {
    padding: 0rem;
  }

  .description {
    display: none;
  }

  .form {
    width: 100%;
  }

  .form__logo,
  .form__subtitle {
    display: block;
  }

  .form__subtitle {
    width: 90%;
    margin: 1.4rem;
    color: var(--text);
  }

  .form__logo {
    height: 4.5rem;
    width: 10rem;
  }
}
